@font-face {
    font-family: 'text';
    src: url(pixal2.ttf);
}
body{
    background-color: blue;
    transition: all 0.5s;
}
*
{
    font-family: 'text';
}
#selectMode{
    list-style: none;
}
#mainScreenSelect{
    background-color: cadetblue;
    box-shadow: darkblue 20px 20px 20px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 20px;
}
#mainScreenSelect:hover{
    background-color: cadetblue;
    box-shadow: darkblue -20px -20px 20px;
    text-align: center;
}
button{
    font-size: 20px;
    border-radius: 10px;
    color:black;
    background-color: olive;
    transition: all 0.5s;
}
button:hover{
    font-size: 20px;
    border-radius: 10px;
    color:olive;
    background-color: black;
}
#singlePlayerMode{
    position: absolute;
    left: 25%;
    top: 40%;
    box-shadow: seagreen 10px 10px 10px;
}
.turtlefighter{
    position: absolute;
    display: none;
    height: 100px;
    bottom: 0px;
    transition: all 0.1s;
}
#turtleFighter1{
    right: 0px;
}
#turtleFighter2{
    left: 0px;
}
.balanceBar{
    width: 300px;
    height: 40px;
    display: none;
    position: absolute;
}
.balanceBar::-webkit-meter-optimum-value {
    background-color: green;
}
.balanceBar::-webkit-meter-low-value {
    background-color: red;
}
#turtle1Balance{
    left: 0px;
}
#turtle2Balance{
    right: 0px;
}