@font-face {
    font-family: 'text';
    src: url(pixal2.ttf);
}
*{
    font-family: 'text';
    text-align: center;
}
#settings, #modeSelect, #Shop {
    box-shadow: darkblue 20px 20px 20px;
}
body{
    background-color: blue;
    transition: all 0.5s;
}
button{
    font-size: 20px;
    border-radius: 10px;
    color:aqua;
    background-color: olive;
    padding: 5px;
    transition: all 0.5s;
}
button:hover{
    border-radius: 10px;
    color:olive;
    background-color: aqua;
}
#modeSelect{
    border-radius: 20px ;
    text-align: center;
    height: 100px;
    width: 500px;
    background-color: teal;
    position: absolute;
    top: 50%;
    left: 34%;
    transition: all 0.5s;
}
#modeSelect:hover{
    box-shadow: darkblue -20px -20px 20px;

}
#raceCourse{
    position: absolute;
    left: 15%;
    top: 30%;
    display: none;
    z-index: -1;
}
#raceCourseImg{
    width: 1000px;
}
.turtleRacer{
    position: absolute;
    width: 170px;
    z-index: 1;
    transition: all 0.5s;
}
#racer1{
 left: 10px;
 top: 3%;
}
#racer2{
    top: 62%;
    left: 10px;
}
#shopbutton{
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 100%;
    margin: 10px;
    transition: all 1.3s;
    width: 50px;
    height: 50px;
}
#shopbutton:hover{
    transform: rotate(360deg);
}
#Shop{
    position: absolute;
    left: 32%;
    top: 50%;
    width: 570px;
    height: 170px;
    display: none;
    border-radius: 20px;
    background-color: teal;
}
h1,h2,h3,h4,h5,h6{
    color:aqua;
}
#slider {
    -webkit-appearance: none;
    width: 400px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
#slider:hover {
    opacity: 1;
} 
#slider::-moz-range-thumb {
    width: 200px;
    height: 24px;
    border: 0;
    background: url('../assets/other/slider.png');
    cursor: pointer;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 40px;
    background: url('../assets/other/slider.png');
    cursor: pointer;
}
#settingIcon{
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 10px;
    width: 50px;
    transition: all 1s;
}
#settingIcon:hover{
    rotate: 360deg;
}
#settings{
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 20%;
    left: 34%;
    height: 500px;
    width: 500px;
    background-color: teal;
}
#dontCheat{
    display: none;
}
select{
    background-color: teal;
    border-color: teal;
}